h2{
color:white;
}
body{
margin:50px 400px 50px 400px;
background-image:linear-gradient(120deg,#ff6b6b,#5f27cd);
}

.c2{
text-align:center;
font-size:50px;
background-color:#000000;
color:#F4F6F7;
width:100%;
padding-right:50px; 
padding-left:50px;

}
.button{
background-color:#FFFF00;
color:#808080;
}
.c1{
color:#800080;
}
.container{
margin:50px;
border:black 5px solid;
padding:50px;
background-color:#000000;
text-align:center;

.box1{
justify-content:flex-center;
}
.box2{
justify-content:flex-center;
}
.c3{
background-color:red;
}
